@*Recebe a lista que vem de DepartmentsController*@
@model IEnumerable<SalesWebMvc.Models.Department>
<h2>Departments</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @*Monta os cabeçalhos da lista*@
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //Monta as linhas da lista
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
        <p>
            @*<a asp-action="Create">Create new department.</a>*@
            <button type="button">Create new department</button>
        </p>
